USE [master]
GO
/****** Object:  Database [Delivery]    Script Date: 5/8/2020 17:04:30 ******/
CREATE DATABASE [Delivery]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Delivery', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CRISTIAN\MSSQL\DATA\Delivery.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Delivery_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CRISTIAN\MSSQL\DATA\Delivery_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Delivery].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Delivery]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 5/8/2020 17:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[idDetPedido] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NULL,
	[subtotal] [decimal](18, 4) NULL,
	[recargaentrega] [decimal](18, 4) NULL,
	[iva] [decimal](10, 3) NULL,
	[total] [decimal](18, 4) NULL,
	[idPedido] [int] NULL,
	[idProducto] [int] NULL,
 CONSTRAINT [PK_DetallePedido] PRIMARY KEY CLUSTERED 
(
	[idDetPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 5/8/2020 17:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[idPedido] [int] IDENTITY(1,1) NOT NULL,
	[fechapedido] [datetime] NULL,
	[estadopedido] [varchar](5) NULL,
	[idUsuario] [int] NULL,
 CONSTRAINT [PK_Pedido] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 5/8/2020 17:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[precio] [decimal](18, 4) NULL,
	[comentario] [varchar](75) NULL,
	[estado] [varchar](5) NULL,
	[fechaelaboracion] [date] NULL,
	[fechavencimiento] [date] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 5/8/2020 17:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[cedula] [varchar](15) NULL,
	[telefono] [varchar](15) NULL,
	[direccion] [varchar](50) NULL,
	[contrasena] [varchar](15) NULL,
	[usuariosesion] [varchar](15) NULL,
	[rol] [varchar](10) NULL,
	[correo] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([idPedido], [fechapedido], [estadopedido], [idUsuario]) VALUES (1, CAST(N'2020-07-08T00:00:00.000' AS DateTime), N'PG', 2)
INSERT [dbo].[Pedido] ([idPedido], [fechapedido], [estadopedido], [idUsuario]) VALUES (2, CAST(N'2020-06-30T00:00:00.000' AS DateTime), N'PD', 2)
INSERT [dbo].[Pedido] ([idPedido], [fechapedido], [estadopedido], [idUsuario]) VALUES (3, CAST(N'2020-06-09T00:00:00.000' AS DateTime), N'PG', 3)
SET IDENTITY_INSERT [dbo].[Pedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([idProducto], [nombre], [precio], [comentario], [estado], [fechaelaboracion], [fechavencimiento]) VALUES (2002, N'Salchichas', CAST(4.5000 AS Decimal(18, 4)), N'Pack x 6', N'D', CAST(N'2020-08-08' AS Date), CAST(N'2020-08-27' AS Date))
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [nombre], [apellido], [cedula], [telefono], [direccion], [contrasena], [usuariosesion], [rol], [correo]) VALUES (2, N'Cristian', N'Baño', N'1726620162', N'0979406707', N'Lucha de los Pobres ', N'12345', N'cabano2', N'A', N'cris@gmail.com')
INSERT [dbo].[Usuario] ([idUsuario], [nombre], [apellido], [cedula], [telefono], [direccion], [contrasena], [usuariosesion], [rol], [correo]) VALUES (3, N'Ricky', N'Iza ', N'1565498', N'097845612', N'Latacunga', N'12548', N'ricky', N'C', N'raiza@gmail.com')
INSERT [dbo].[Usuario] ([idUsuario], [nombre], [apellido], [cedula], [telefono], [direccion], [contrasena], [usuariosesion], [rol], [correo]) VALUES (2021, N'Jorge', N'Zamora', N'1805476905', N'45152015', N'Los Pinos', N'1234', N'jorge', N'C', N'jorge@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Pedido] FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([idPedido])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Pedido]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallePedido_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_DetallePedido_Producto]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_Usuario]
GO
USE [master]
GO
